*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Architects Daughter', cursive;
}
.audio{
    position: fixed;
    bottom: 0;
    width: 100%;
    background: none;
    color: silver;
}
